<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- palette https://coolors.co/palette/000000-14213d-fca311-e5e5e5-ffffff -->
	<!-- custom palette https://coolors.co/ffd9da-c5d2b1-8acb88-fca311-88292f-4f2437-151e3f -->
	<script src="static/chart.min.js"></script>
	<title>IOT Assignment 2</title>
	<link href="static/dashboard.css" rel="stylesheet"/>
	<link href="static/material-icons.css" rel="stylesheet"/>	
</head>
<body>
	<div>
		<header>
			<span>IOT Assignment #2: Smart Bridge</span>
			<span >Baroncini Ugo, Bighini Luca, Tellarini Pietro</span>
		</header>
		<main>
			<canvas id="chart" class="chart" width="400" height="150"></canvas>
			<div class="controls">
				<div class="button-box control-box shadow">
					<div class="toggle">
						<h3 class="auto-label">
							Auto
						</h3>
						<input id="auto-manual-selector" class="tgl tgl-light" type="checkbox">
						<label class="tgl-btn" for="auto-manual-selector"></label>
						<h3 class="manual-label">
							Manual
						</h3>
					</div>
					<div class="slider-box">
						<h3>Manual valve control:</h3>
						<input class="manual-slider" type="range" min="0" max="180" step="1" value="0" oninput="(event) => {document.querySelector('.slider-label').value = document.querySelector('.manual-slider').value}" disabled>
						<input class="slider-label" type="number" min="0" max="180" step="1" value="0" oninput="(event) => {document.querySelector('.manual-slider').value = document.querySelector('.slider-label').value}" disabled>
					</div>
				</div>
				<div class="lights-box control-box shadow">
					<h3>Smart lights:</h3>
					<div class="lights-indicator">
						OFF
					</div>
				</div>
				<div class="status-box control-box shadow">
					<div class="status-header">
						<h3>Status:</h3>
						<input id="alarm-sound-enable" type="checkbox" name="alarm-sound-enable">
						<label id="alarm-sound-selector" class="sound-icon material-symbols-outlined" for="alarm-sound-enable">
							volume_off
						</label>
					</div>
					<div class="alarm-indicator">
						<div class="indicator normal-status"><span>Normal</span></div>
						<div class="indicator pre-alarm-status"><span>Pre-Alarm</span></div>
						<div class="indicator alarm-status"><span>Alarm</span></div>
					</div>
				</div>
			</div>
		</main>
	</div>
	<footer>
		Developed with <3 by Baroncini Ugo, Bighini Luca and Tellarini Pietro.
	</footer>
	<script type="text/javascript">
		function setLights(status) {
			let lightsIndicator = document.querySelector('.lights-indicator');

			if (status == 'on') {
				lightsIndicator.classList.add('lights-on');
				lightsIndicator.innerText = 'ON';
			} else if (status == 'off') {
				lightsIndicator.classList.remove('lights-on');
				lightsIndicator.innerText = 'OFF';
			} else {
				console.log("ERROR: setLights() parameter not valid.\nParameter: " + status + "\nAllowed values are 'on' and 'off' as strings.");
			}
		}

		function setStatus(status) {
			let normalIndicator = document.querySelector('div.normal-status');
			let preAlarmIndicator = document.querySelector('div.pre-alarm-status');
			let alarmIndicator = document.querySelector('div.alarm-status');

			normalIndicator.classList.remove('active');
			preAlarmIndicator.classList.remove('active');
			alarmIndicator.classList.remove('active');

			if (status == 'normal') {
				normalIndicator.classList.add('active');
			} else if (status == 'pre-alarm') {
				preAlarmIndicator.classList.add('active');
			} else if (status == 'alarm') {				
				alarmIndicator.classList.add('active');
				checkAlarm();
			} else {
				console.log("ERROR: setStatus() parameter not valid.\nParameter: " + status + "\nAllowed values are 'normal', 'pre-alarm' and 'alarm' as strings.");
			}
		}

		function checkAlarm() {
			const isAlarmEnabled = document.querySelector('#alarm-sound-enable').checked;

			if (isAlarmEnabled) {
	            var audio = new Audio('static/beep.mp3');
	            audio.play();
			}

			if (document.querySelector('div.alarm-status').classList.contains('active')) {
				setTimeout(checkAlarm, 1200);
			}
		}

	</script>
	<script type="text/javascript">
		let alarmSoundSelector = document.querySelector('#alarm-sound-selector');

		alarmSoundSelector.addEventListener('click', function(e) {
			setTimeout(100, function() {
				let checkbox = document.querySelector('#alarm-sound-enable');
				let label = document.querySelector('#alarm-sound-selector');

				if (document.querySelector('#alarm-sound-enable').checked) {
					label.innerText = 'volume_up';
				} else {				
					label.innerText = 'volume_off';
				}
			});
		});
	</script>
	<script type="text/javascript">
		let slider = document.querySelector('.manual-slider');
		let slider_label = document.querySelector('.slider-label');
		let auto_manual_selector = document.querySelector('#auto-manual-selector');

		slider.addEventListener('input', function(e) {
			document.querySelector('.slider-label').value = document.querySelector('.manual-slider').value;
		});

		slider_label.addEventListener('input', function(e) {
			document.querySelector('.manual-slider').value = document.querySelector('.slider-label').value;
		});

		auto_manual_selector.addEventListener('change', function(e) {
			document.querySelector('.manual-slider').disabled = !document.querySelector('#auto-manual-selector').checked;
			document.querySelector('.slider-label').disabled = !document.querySelector('#auto-manual-selector').checked;
		});
	</script>
	<script type="text/javascript">
		const ctx = document.getElementById('chart');
		const yellow_nice = 'rgba(252, 163, 17, 1)';
		const yellow_nice_transparent = 'rgba(252, 163, 17, 0.5)';

		var data = {
			labels: [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114],
			datasets: [{
				label: 'metri',
				data: [20,22,22,20,19,21,23,23,23,22,23,23,25,26,23,19,19,19,20,19,23,23,22,23,26,25,24,22,22,19,19,19,18,19,19,22,25,25,21,22,21,22,22,21,22,22,22,25,24,23,22,21,22,22,22,19,18,19,21,22,22,19,23,22,24,54,21,20,21,20,23,21,22,21,20,20,24,22,21,23,26,26,27,27,24,57,36,42,42,30,31,30,20,25,25,24,21,21,20,21,20,21,25,88,22,21,22,22,22,21,22,20,21,20,20],
				borderColor: yellow_nice,
				backgroundColor: yellow_nice_transparent,
				fill: true,
				stepped: 'middle',
				pointRadius: 0,
				borderJoinStyle: 'round',
				borderWidth: '2',
			},
			]
		};
		const config = {
			type: 'line',
			data: data,
			options: {
				plugins: {
					filler: {
						propagate: false,
					},
					title: {
						display: true,
						text: 'Water level'
					}
				},
				interaction: {
					intersect: false,
				}
			},
		};
		const chart = new Chart(ctx, config);
	</script>
</body>
</html>